# Node.js
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# dotenv environment files
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Docker
*.dockerfile
docker-compose.override.yml

# Mac system files
.DS_Store
